:root {
  --size-100: 6.25rem;
  --size-60: 3.75rem;
  --size-40: 2.5rem;
  --size-35: 2.19rem;
  --size-30: 1.88rem;
  --size-25: 1.56rem;
  --size-20: 1.25rem;
  --size-18: 1.125rem;
  --size-10: 0.625rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

body {
  font-family: raleway, sans-serif;
  height: 100vh;
  width: 100vw;
  background: #222;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
  display: inline-block;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.error-message {
  display: none;
  color: #ffffff;
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: var(--size-10);
  padding: var(--size-10) 0 var(--size-10) 0;
  font-size: var(--size-20);
  margin-top: var(--size-18);
}

.error-message.active {
  --index: 0.1s;
  display: block;
}

.loader {
  display: none;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: relative;
  margin: var(--size-30) auto 0;
  animation: rotate 1s linear infinite;
}

.loader.active {
  display: block;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 0.3125rem solid #fff;
  animation: prixClipFix 2s linear infinite;
}

[data-animation] {
  animation: var(--animName) var(--animDur) var(--animDir)
    calc(var(--animDel) + var(--index, 0s));
}

@keyframes bounceIn {
  0% {
    transform: translate(0, -50%);
    opacity: 0;
  }
  50%,
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
